# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:../src/database/db.sqlite"

TOKEN_SECRET_KEY="7e84b442f353cc4c27e90b0271e82b03"
EXPIRES_IN_TOKEN="15m"
SECRET_REFRESH_TOKEN="6d1f7a743c5a01c3f740473ec8887596"
EXPIRES_IN_REFRESH_TOKEN="30d"
EXPIRES_IN_REFRESH_TOKEN_DAYS=30